/* Space out content a bit */
body {
padding-top: 20px;
padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
padding-right: 15px;
padding-left: 15px;
}
/* Custom page header */
.header {
padding-bottom: 20px;
border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
margin-top: 0;
margin-bottom: 0;
line-height: 40px;
}
/* Custom page footer */
.footer {
padding-top: 19px;
color: #777;
border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
.container {
max-width: 730px;
}
}
.container-narrow > hr {
margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
text-align: center;
border-bottom: 1px solid #e5e5e5;
padding-top: 20px;
padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
/* Remove the padding we set earlier */
.header,
.footer {
padding-right: 0;
padding-left: 0;
}
/* Space out the masthead */
.header {
margin-bottom: 30px;
}
/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
	border-bottom: 0;
	text-align: center;
}

}

.body-div{
	text-align: center;
	padding-right: 10vh;
	display: block;
	width: 50%;
	float: left;
}
.left{
	float:left;
	width: 50%
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#main-body{
	min-height: 20vh;
	max-height: 70vh;
	overflow: hidden;
}

#style-img-upload{
	vertical-align: middle;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width:100%;
}

#content-img-upload{
	vertical-align: middle;
	margin-top: 5vh;
	margin-bottom: 5vh;
    width: 100%;
}

.bottom{
	padding-top: 10px;
	display: block;
	float: none;
	text-align: center;
}

.info{
	margin: 5vh;
}